annotated-types==0.7.0
anyio==4.9.0
boto3==1.34.79
botocore==1.34.162
bcrypt==4.3.0
click==8.1.8
colorama==0.4.6
fastapi==0.110.0
fastavro==1.10.0
fpdf==1.7.2
folium==0.19.5
geopandas==1.0.1
geopy==2.4.1
googlemaps==4.10.0

greenlet==3.1.1
h11==0.14.0
httptools==0.6.4
httpx==0.28.1
idna==3.10
jmespath==1.0.1
locationiq==0.0.2
movingpandas==0.21.3

opencage==3.1.0
psycopg2-binary==2.9.9
pandas==2.2.3
pydantic[email]==2.11.3
pydantic_core==2.33.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytest==8.3.5

PyYAML==6.0.2
reportlab== 4.4.0
seaborn==0.13.2
s3transfer==0.10.4
shapely==2.1.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.29
starlette==0.36.3
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.29.0
watchfiles==1.0.5
websockets==15.0.1

